@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600&family=Raleway:wght@100..900&display=swap');


html{
    font-size: 10px;
    overflow-x: hidden;
}

:root{
    --green-1: #5b4635;
	--green-2: #FFEFD5;
	--lightGreen-1: #dac4bc;
	--lightGreen-2: #EFDECD;
	--black-1: #0a0a0a;
	--black-2: #28221e;
	--black-3: #424b4f;
	--white-1: #e2e0df;
}

body{
   background-color: var(--lightGreen-2);
   overflow-x: hidden;
}

section{
    padding: 100px 0;
}

@media only screen and (max-width: 768px) {
    section{
        padding: 50px 0;
    }
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h1, h2, h3, h4{
    font-family: 'Poppins', sans-serif;  
}

p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.4em;
    font-size: 1.8rem;
}

a{
    display: inline-block;
    text-decoration: none;
}

.logo{
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 30px;
    margin-top: -20px;
}